body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, #1400f5, #9f05f9); /* Gradient background */
  color: #ffffff; /* Change text color to white */
  padding: 20px;
  text-align: center;
  font-size: 24px; /* Increase font size for better readability */
  font-weight: bold; /* Make the text bold */
}


main {
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.left-column,
.right-column {
  flex: 1;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack images vertically */
}

.diagram img {
  max-width: 300px;
  margin-bottom: 40px; /* Add space between images */
}

.qr-codes {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack images vertically */
}

.qr-codes img {
  margin-bottom: 90px;
  max-width: 150px;
}
